/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Kaku Gothic ProN', 'Arial', 'Meiryo', sans-serif;
  background-color: oldlace;
  color: #0c0505;
  letter-spacing: normal;
  font-size: 14px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
